<!-- <app-new-seller *ngIf="!hasSellerAccount"></app-new-seller>
    <div *ngIf="hasSellerAccount">Private account</div> -->

<mat-card>
    <h1>Welcome!</h1>
    <div id="header">
        <h2>{{ name }}</h2>
        <h3>{{ description }}</h3>
    </div>
</mat-card>
<mat-card>
    <h1>Available Products</h1>
    <mat-card class="product-card" *ngFor="let product of products">
        <img class="image" [src]="product.imageURL" />
        <h2>{{ product.name }}</h2>
        <div>
            <i>{{ product.description }}</i>
        </div>
        <div>{{ product.price / 100 | currency }}</div>
        <div>
            Left Quantity : <strong>{{ product.quantityLeft }}</strong>
        </div>
        <div>
            Last Date : <strong>{{ product.maxPickupDate | date }}</strong>
        </div>
        <!-- <a href="">SELLER LINK</a> TODO: -->
    </mat-card>
</mat-card>
