#header {
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 218, 217);
    border-radius: 1%;
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
}

h2 {
    font-size: larger;
}

.product-card {
    width: fit-content;
    margin-left: 5%;
}

img {
    height: 18vw;
    align-self: center;
}

#name,
#description {
    margin-left: 3%;
}
#title {
    text-align: center;
}
