// * {
//     display: flex;
//     justify-content: space-around;
// }
.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(238, 237, 237, 0.87);
    height: fit-content;
}

.icons {
    display: flex;
    flex-direction: row;
    margin-right: 8vw;
}

mat-icon {
    cursor: pointer;
    margin: 0% 25% 0% 25%;
}
