<mat-toolbar class="toolbar">
    <a routerLink="/home">
        <img src="https://i.imgur.com/m4Ls4nA.png" alt="FindMyFoodLogo" style="width: 300px; height: 80px" />
    </a>
    <div class="icons">
        <mat-icon [matBadge]="numberOfItemsInCart" matBadgePosition="after" matBadgeColor="accent" (click)="openCart()">shopping_cart</mat-icon>
        <mat-icon routerLink="/new-product">food_bank</mat-icon>
        <mat-icon routerLink="/profile">account_circle</mat-icon>
    </div>
</mat-toolbar>
