<mat-toolbar [class]="theme">
    <mat-icon>help</mat-icon>
    <div>
        <mat-slide-toggle (click)="toggleTheme()"></mat-slide-toggle>
        <mat-icon *ngIf="isCurrentThemeDark(); else light_theme">dark_mode</mat-icon>
        <ng-template #light_theme>
            <mat-icon>light_mode</mat-icon>
        </ng-template>
    </div>
    <a routerLink="/home">
        <h1>{{ title }}</h1>
    </a>
    <mat-icon [matBadge]="numberOfItemsInCart" matBadgePosition="after" matBadgeColor="accent">shopping_cart</mat-icon>
    <mat-icon>food_bank</mat-icon>
    <a routerLink="/profile">
        <mat-icon>account_circle</mat-icon>
    </a>
</mat-toolbar>
