<div>
    <mat-form-field class="input" appearance="fill">
        <mat-label>What kind of food are you looking for?</mat-label>
        <mat-chip-list #chipList aria-label="Meal selection">
            <mat-chip *ngFor="let option of options" (removed)="remove(option)">
                {{ option }}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
            <input
                placeholder="Enter a meal"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)"
            />
        </mat-chip-list>
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
        <mat-label>Location</mat-label>
        <input matInput placeholder="Montreal" value="Montreal" />
    </mat-form-field>
</div>
